* {
  margin: 0;
  padding: 0;
}

/******************** header ************************/
header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: #d5ceb5;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu a {
  display: block;
  padding: 10px;
  color: #1a090d;
  font-family: "Bodoni Moda", serif;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu li:last-child {
  margin-right: 0px;
}

menu a:hover {
  color: #d5ceb5;
}

/********************* burgermenu - har kopieret dette fra undervisningen ********************/
@media screen and (max-width: 800px) {
  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-right: 20px;
  }
  .burger .line {
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    transition: 0.2s linear;
    background-color: black;
  }
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  nav.active .menu {
    display: block;
    background-color: #e8e7dd;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  nav.active .menu li {
    margin: 10px 20px;
  }
  nav.active .menu a {
    font-size: 24px;
  }
}

/************************ Logo **********************/
#logo {
  width: 70px;
  height: auto;
  display: block;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

/************************ main ***********************/
h1 {
  color: black;
  font-family: "Abril Fatface", serif;
  font-size: 2.8rem;
  text-align: center;
  margin-top: 30px;
}

h2 {
  color: #1a090d;
  font-family: "Bodoni Moda", serif;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 20px;
}

p {
  color: #1a090d;
  text-align: center;
  margin-top: 0px;
}

#plante_projekter {
  margin-top: -140px;
  margin-left: 0px;
}

.grid_1_1_1_1 {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  margin-top: -70px;
}

.box2 {
  margin-left: 100px;
  line-height: 200px;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.box3 {
  line-height: 200px;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.box4 {
  line-height: 200px;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.box5 {
  line-height: 200px;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.vertical-line {
  border-left: 1px solid black;
  height: 300px;
  margin-left: 35px;
  margin-right: 35px;
}

/********************** footer ********************/
footer {
  background-color: #d5ceb5;
  font-family: "Bodoni Moda", serif;
  font-size: 1rem;
  margin-top: -1px;
  text-align: center;
  padding: 20px;
}

/******************** mobil - har kodet til en iphone 12/13 + pro *********************/
@media screen and (max-width: 800px) {
  .grid_1_1_1_1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
  }
  .box2 {
    margin-left: 110px;
  }
  .box3 {
    margin-left: 110px;
  }
  .box4 {
    margin-left: 110px;
  }
  .box5 {
    margin-left: 110px;
  }
  .vertical-line {
    height: 0px;
  }
  #plante_projekter {
    width: 250px;
    margin-left: 0px;
    margin-top: -110px;
  }
}
